#main_title{
    text-align: center;
    background-color: #de5d5d;
    color: #1e1c1c; 
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}
.box1 h2{
    float: left;
}
.box1 button{
    float: right;
}
.container{
    margin-top: 30px;
}
